.photo-show-image-div {
  display: flex;
  justify-content: center;
  position: relative;
  background: rgb(33, 33, 36);
  padding: 50px 0;
  color: white;
}

.back-to-index {
  position: absolute;
  font-size: 17px;
  left: 20px;
}

.photo-show-image {
  width: 600px;
  height: 400px;
}

.photo-info {
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
}

.photo-info-section {
  border-bottom: 1px solid rgb(207, 214, 217);
  width: 500px;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 10px;
  font-weight: 600;
}

.description {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}