body {
  background: rgb(243, 245, 246)
}

.photos-index-container {
  width: 1080px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  // justify-content: center;
  // align-items: center;
}

.photos-index-div {
  flex: 50%;
  // display: flex;
  // justify-content: space-around;
}

.photos-index {

}

.photos-index > li {
}

.photo-image {
  height: 360px;
  width: 360px;
}

