body {
  background: rgb(243, 245, 246)
}

.photos-index-container {
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photos-index-div {
  padding-top: 26px;
  position: relative;
}

.photo-index-title {
  position: absolute;
  bottom: 0;
}

.photo-image {
  height: 256px;
  width: 256px;
}

.photo-index-title:hover {
}

.photo-image:hover {
}